<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style2.css">
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <nav class="nav-bar">
            <a href="#">Home</a>
            <a href="#description">About Me</a>
            <a href="#portofolio">Portofolio</a>
        </nav>
        </div>
        <div class="side-bar">
            <h4 class="side-button active">Profile</h4>
            <h4 class="side-button">Photoshop</h4>
            <h4 class="side-button">Illustrator</h4>
            <h4 class="side-button">SketchUp</h4>
            <h4 class="side-button">Blender</h4>
            <h4 class="side-button">Website</h4>
        </div>
        <div class="content"></div>
    </div>
</body>
</html>