<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="tool" id="tool">
        <i class="fas fa-user"></i>
    </div>
    <nav class="nav-bar">
        <a href="#">Home</a>
        <a href="#description">About Me</a>
        <a href="#portofolio">Portofolio</a>
        <a href="/admin">Admin</a>
    </nav>
    <div class="header">
        <div class="header-title">
        <h1>Ivan Firmanda</h1>
        <h5>Website Resmi Milik Saya</h5>
        </div>
    </div>
    <div class="login hide-height" id="login">
        <h3>Login</h3>
        <form action="login" method="POST">
            <input type="text" placeholder="User ID" name="userid"><br>
            <input type="password" placeholder="Password" name="password"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="description" id="description">
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aperiam ipsum aspernatur corrupti dolores recusandae nemo, officia architecto unde voluptates vel nulla quia explicabo dolorum mollitia debitis at quas distinctio. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto aliquam sequi consequatur, nemo tempora quae officiis quaerat facere non libero doloremque fugiat eum, incidunt inventore unde laboriosam! Cumque, alias ad!</p>
    </div>
    <div class="portofolio" id="portofolio">
        <h3>Portofolio</h3>
        <div class="portofolio-content-container">
            <div class="portofolio-content">
            </div>
            <div class="portofolio-content">
            </div>
            <div class="portofolio-content">
            </div>
             <div class="portofolio-content">
            </div>
            <div class="portofolio-content">
            </div>
        </div>
    </div>
    <div class="social-media">
        <h3>Social Media</h3>
        <div class="social-media-container">
            <div class="social-media-content">
            </div>

            <div class="social-media-content">
            </div>
            <div class="social-media-content">
            </div>
            <div class="social-media-content">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eligendi consequatur inventore facere excepturi est eveniet, culpa facilis tempora maxime nostrum cum delectus deserunt esse aspernatur praesentium magni alias ad.</p>
        </div>
        <div class="footer-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, aperiam quas. Porro doloremque natus nesciunt consectetur iure eos debitis assumenda corrupti laborum omnis, ipsam esse perspiciatis in ipsa quidem ratione?</p>
        </div>
    </div>
</body>
<script src="./js/script.js"></script>
</html>